.advantages {
    position: relative;
    background-color: #353535;
    color: #fff;
}

.advantages__list {
    position: relative;
    min-height: 345px;
}

.advantages__item {
    display: none;
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
		display: block;
    }
}

.advantages__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 12px;
    padding-top: 165px;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
		padding-top: 42px;
        margin-left: 224px;
        text-align: left;
    }    
}

.advantages__description {
    font-size: 20px;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
    width: 280px;

    @media (min-width: @tablet-width) {
        margin-left: 224px;
        text-align: left;
        width: 441px;
    }  
}

.advantages__item--fast {
	background-position: left 80px top 40px;
	background-image: url("../img/advantage-1-icon.svg");
}

.advantages__item--cool {
	background-position: left 80px top 40px;
	background-image: url("../img/advantage-2-icon.svg");
}

.advantages__item--price {
	background-position: left 80px top 40px;
	background-image: url("../img/advantage-3-icon.svg");
}

.input-slider-1:checked ~ .advantages__list .advantages__item--fast,
.input-slider-2:checked ~ .advantages__list .advantages__item--cool,
.input-slider-3:checked ~ .advantages__list .advantages__item--price {
	display: block;
}

