.social__list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    margin-top: 26px;

    @media (min-width: @tablet-width) {
        margin-top: 45px;
    }
}

.social__item {
    flex-grow: 1;
    border: 1px solid #4A4A4A;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 101px;
}
