.user-list {
    line-height: 24px;
    padding-bottom: 263px;
}

.user-list__item {
    padding-top: 18px;
    padding-bottom: 19px;
    padding-left: 47px;

    display: flex;
}

.user-list__login {
    position: relative;
}

.user-list__login::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -30px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;

	background-image: url("../img/login-icon.svg");
    // cursor: pointer;
}

