@font-face {
	font-family: "PT Sans Narrow";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("PT Sans Narrow"),
	  url("../fonts/ptsansnarrow.woff2") format("woff2"),
	  url("../fonts/ptsansnarrow.woff") format("woff");
}

@font-face {
	font-family: "PT Sans Narrow";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local("PT Sans Narrow"),
	  url("../fonts/ptsansnarrowbold.woff2") format("woff2"),
	  url("../fonts/ptsansnarrowbold.woff") format("woff");
}

.page-body {
    width: 320px;
    margin: 0;
	padding: 0;
	font-family: "PT sans Narrow";
	font-weight: 700;
	// text-transform: uppercase;
	background-color: #E5E5E5;
	}