.social__list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

.social__item {
    border: 1px solid #4A4A4A;
}

// Можно ли было это записать таким образом, чтобы ширина поделилась автоматически?
// .social__item {
//     min-width: 100px;
// }

.social__item:first-child {
    width: 107px;
}

.social__item:nth-child(2) {
    width: 105px;
}

.social__item:nth-child(3) {
    width: 108px;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 101px;
}


// .social__link--vkontakte::after {
//     content: "";
//     position: absolute;
//     top: 5px;
//     left: -30px;
//     width: 23px;
//     height: 26px;
//     background-repeat: no-repeat;
// 	background-image: url("../img/vk-icon.svg");
// }

// .social__link--facebook::after {
//     content: "";
//     position: absolute;
//     top: 5px;
//     left: -30px;
//     width: 18px;
//     height: 39px;
//     background-repeat: no-repeat;
// 	background-image: url("../img/fb-icon.svg");
// }

// .social__link--instagram::after {
//     content: "";
//     position: absolute;
//     top: 5px;
//     left: -30px;
//     width: 36px;
//     height: 36px;
//     background-repeat: no-repeat;
// 	background-image: url("../img/instagram-icon.svg");
// }